@font-face {
    font-family: "Jokerman";
    src: url("//db.onlinewebfonts.com/t/eec0608ff80827a878d7da11b3b71857.eot");
    src: url("//db.onlinewebfonts.com/t/eec0608ff80827a878d7da11b3b71857.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/eec0608ff80827a878d7da11b3b71857.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/eec0608ff80827a878d7da11b3b71857.woff") format("woff"), url("//db.onlinewebfonts.com/t/eec0608ff80827a878d7da11b3b71857.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/eec0608ff80827a878d7da11b3b71857.svg#Jokerman") format("svg");
}